<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Patient</title>
  <link href="../../static/css/registration.css" rel="stylesheet">
</head>
<body>
<div class="terminal">
    <pre class="title">
░█████╗░██████╗░██████╗░
██╔══██╗██╔══██╗██╔══██╗
███████║██║░░██║██║░░██║
██╔══██║██║░░██║██║░░██║
██║░░██║██████╔╝██████╔╝
╚═╝░░╚═╝╚═════╝░╚═════╝░
    </pre>
  <h1 class="title">Add Patient</h1>
  <form th:object="${patient}" th:action="@{/registration}" method="post">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{first_name}" required>
    <br>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{last_name}" required>
    <br>
    <label for="dob">Day of Birth:</label>
    <input type="text" id="dob" th:field="*{dob}" required>
    <br>
    <label for="diagnosis">Diagnosis:</label>
    <input type="text" id="diagnosis" th:field="*{diagnosis}" required>
    <br>
    <button type="submit" onclick="confirm('Data successfully added.');">Add</button>
  </form>
  <a class="main" href="/list">Back</a>
</div>
</body>
</html>
