<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/login.css" th:href="@{../../static/css/login.css}"/>
    <script src="../../static/js/login.js"></script>
    <title>Login</title>
</head>
<body>
<div class="terminal">
    <pre class="login">
██╗░░░░░░█████╗░░██████╗░██╗███╗░░██╗
██║░░░░░██╔══██╗██╔════╝░██║████╗░██║
██║░░░░░██║░░██║██║░░██╗░██║██╔██╗██║
██║░░░░░██║░░██║██║░░╚██╗██║██║╚████║
███████╗╚█████╔╝╚██████╔╝██║██║░╚███║
╚══════╝░╚════╝░░╚═════╝░╚═╝╚═╝░░╚══╝
    </pre>
    <div class="form">
        <form method="post" action="" th:object="${loginRequest}">
<!--            <input type="text" class="login-field" name="login" placeholder="Login" id="login" required>-->
<!--            <input type="password" class="login-field" name="password" placeholder="Password" id="password" required>-->
            <input type="text" class="login-field" name="login" placeholder="Login" id="login" required>
            <input type="password" class="login-field" name="password" placeholder="Password" id="password" required>
            <button type="submit" class="button">Login</button>
        </form>
    </div>
    <p class="signup-link">Don't have an account? <a href="/register">Sign up</a></p>
</div>
</body>
</html>
