<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../static/css/logout.css" rel="stylesheet">
    <title>Exit</title>
</head>
<body>
<div class="terminal">
      <pre class="logout">
░██████╗██╗░░░██╗░█████╗░░█████╗░███████╗░██████╗░██████╗
██╔════╝██║░░░██║██╔══██╗██╔══██╗██╔════╝██╔════╝██╔════╝
╚█████╗░██║░░░██║██║░░╚═╝██║░░╚═╝█████╗░░╚█████╗░╚█████╗░
░╚═══██╗██║░░░██║██║░░██╗██║░░██╗██╔══╝░░░╚═══██╗░╚═══██╗
██████╔╝╚██████╔╝╚█████╔╝╚█████╔╝███████╗██████╔╝██████╔╝
╚═════╝░░╚═════╝░░╚════╝░░╚════╝░╚══════╝╚═════╝░╚═════╝░
        </pre>
    <h1>Successfully logged out</h1>
    <a class="button" href="/login">Login</a>
    <a class="button" href="/register">Register</a>
</div>
</body>
</html>

